<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<nav th:fragment="navbar" style="background-color: cornflowerblue">
<!--    <h1>Spring Blog</h1>-->
    <ul>
        <!-- More links here... -->
        <div sec:authorize="isAuthenticated()">
            <form th:action="@{/posts/create}" th:method="post">
                <button class="btn-link btn" style="margin-top: 8px">Create Post</button>
            </form>
            <form th:action="@{/posts}" th:method="post">
                <button class="btn-link btn" style="margin-top: 8px">Profile</button>
            </form>
            <form th:action="@{/posts/edit}" th:method="post">
                <button class="btn-link btn" style="margin-top: 8px">Edit</button>
            </form>
            <form th:action="@{/posts/delete}" th:method="post">
                <button class="btn-link btn" style="margin-top: 8px">Delete</button>
            </form>
            <form th:action="@{/logout}" th:method="post">
                <button class="btn-link btn" style="margin-top: 8px">Logout</button>
            </form>
        </div>

        <!-- IF NOT LOGGED IN BELOW -->

        <div sec:authorize="!isAuthenticated()">
            <form th:action="@{/login}" th:method="post">
                <button class="btn-link btn" style="margin-top: 8px">Login</button>
                <button class="btn-link btn" style="margin-top: 8px">Create Post</button>
            </form>
            <form th:action="@{/sign-up}" th:method="post">
                <button class="btn-link btn" style="margin-top: 8px">Sign Up</button>
            </form>
        </div>

        <li>
<!--            <form th:action="@{/logout}" th:method="post">-->
<!--                <button class="btn-link btn" style="margin-top: 8px">Logout</button>-->
<!--            </form>-->
        </li>
    </ul>
</nav>
</html>